body{
    background:url('https://media.istockphoto.com/photos/personal-safety-workwear-border-on-rustic-wood-background-picture-id471983658?b=1&k=6&m=471983658&s=612x612&w=0&h=6UqTbMKQE1IdgV6W5JoMMaRM26WjXMLLtoWX5fAy4yc=') no-repeat center center;
    min-height:100%;
    background-size:cover;
    color: beige;
    font-size: medium;
    font-family: BlinkMacSystemFont;
}